/* .main-container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}
.About-banner img {
    padding-top: 10px;
    height: auto;
    width: 100%;
    padding-top:130px;
}
.main-container .About-banner .content .text {
    position: absolute;
    top: 60%;
    left: 65px;
    transform: translateY(-50%);
    padding: 0 10px;
    font-size: 40px;
    color: #fff;
}
.main-container .About-banner .content .menu{
    display: flex;
    justify-content: space-between;
    gap:10px;
    color:black;
} */
