.container {
    max-width: 1280;
    width: 100%;
    height: auto;
    position: relative;
}

.About-banner {
    max-width: 1280px;
    width: 100%;
    height: 350px;
    padding-top: 100px;
}

.About-banner img {
    padding-top: 10px;
    height: auto;
    width: 100%;
}

.text {
    position: absolute;
    top: 30%;
    left: 65px;
    transform: translateY(-50%);
    padding: 0 10px;
    font-size: 40px;
    color: #fff;
}
.container .content ul {
    display: flex;
    justify-content: normal;
    gap: 10px;
    position: absolute;
    padding-top: 25px;
    padding-left: 71px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.container .content ul a {
    color: rgb(39 14 86);
    font-size: 15px;
}
.container .content .menu {
    position: absolute;
    top: 49%;
    left: 63px;
    transform: translateY(-50%);
    padding: 0 30px;
}
