.container {
  max-width: 1280px !important;
  width: 100% !important;
  margin: 0 auto !important;
  --bs-gutter-x: -0.5rem !important;
}
body{
  height:1200px;
}
.container .navbar {
  height: 120px;
  width: 100% !important;
  position: fixed;
  padding-left: 0px !important;
  z-index: 1000;
  top: 0px;
}
.logo-img {
  height: 100px;
  width: 200px;
  margin: 10px 30px;
  background-color: white;
  border-radius: 50%;
}
.container-fluid .collapse .navbar-nav {
  display: flex;
  position: absolute;
  margin: 0px 40px;
  justify-content: space-between;
  gap: 80px;
  list-style: none;
  font-size: 20px;
  font-family: system-ui;
}
.container-fluid .collapse .navbar-nav a{
  text-decoration: none;
  color:#fff;
  font-weight: 800;
}
.container-fluid{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  --bs-gutter-x: -0.5rem !important;
}
ul.dropdown-menu.show {
  background: #F44336;
}
