.container1 {
    
     width: 100%;
     height: 400px;
    /* margin: 0 auto; */
    background-color: white;
}
.logo1 img {
    height: 113px;
    width: 132px;
    margin: 21px 425px;
    padding: 29px 135px;
}
.content h1 {
    color: #76ae17c9;
    font-size: 26px;
    margin: -67px 370px;
}
.content p {
    color: black;
    margin: 47px 85px;
}
.content h2 {
    color: #cfe96f;
    margin: 49px 334px;
    padding: 1px 234px;
    font-size: 28px;
}  
    .container2 {
        width: 100%;
        height: 400px;
        margin: 41px 1px auto;
        background-color: rgb(246 243 243 / 58%);
    }
.product img {
    padding: 1px 2px;
    margin: -23px 446px;
}
.pic img {
    height: 122px;
    width: 187px;
    padding: -2px 17px;
    margin: -37px 536px;
}
.pic h1 {
    color: #76ae17c9;
    margin: -28px 508px;
}